.navigationBar{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  .navigationBtns{
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .searchLine{
    width: 100%;
    display: flex;
    justify-content: center;
    .searchField{
      width: 50%;
    }
  }
}
